@using Chirp.Core.Extensions
@using Chirp.Core.Dto
@model Chirp.Core.Dto.CheepDto

@{
    AuthorDto? user = (AuthorDto?)Context.Items["user"];
}

@if (user is not null && !user.Username.Equals(Model.AuthorUsername))
{
    <form asp-controller="Cheep" asp-action="Follow" style="display:inline;">
        <input type="hidden" name="CheepAuthorId" value="@Model.AuthorId"/>
        <input name="__RequestVerificationToken" type="hidden"/>
        @Html.AntiForgeryToken()
        <button type="submit" style="background:none;border:none;color: green;padding:0;margin-left: 10px;cursor:pointer">
            Follow @(Model.AuthorEmail)
        </button>
    </form>
}